body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Helvetica,Arial,Verdana, sans-serif;
    font-size: 14px;
}

#top {
    background: #eee;
    border-bottom: 1px, solid #eee;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
}

.calContainer {
    margin: 40px 10px;
    padding: 0;
    font-family: Segoe UI Semibold,Tahoma,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

#searchEvents {
    background-image: url('../img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
}